from logging import Logger

from flask import Blueprint
from injector import inject

{{blueprint.blueprint_name}}_blueprint = Blueprint("{{blueprint.blueprint_name}}", __name__, url_prefix="/{{blueprint.blueprint_name}}")


@inject
@{{blueprint.blueprint_name}}_blueprint.route("/")
def get_{{blueprint.blueprint_name}}(log: Logger):
    return "Hello, {{blueprint.blueprint_name}}!"
